body {
    background: linear-gradient(white, green);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

h1 {
    border: 3px solid black;
    display: inline-block;
    font-size: 30px;
    padding: 8px;
}

h2 {
    font-size: 20px;
}

.err-msg {
    font-weight: bold;
    color: red;
}
